#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

#user_panel {
    opacity: 0;
    background-color:#6677FF;
    text-align:center;
    -webkit-transition: opacity 0.5s linear;  
}
  
#user_panel.show {
    opacity: 0.6;
}
