%html
  %head
    %title 1964 and 1964js Home page
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
    :ruby
      outputMode = "release"
      ARGV.each do|a|
        if a == "develop"
          outputMode = "develop"
        end
      end
      if outputMode != "develop"
        puts "    <script type='text/javascript'>"
        puts "    var _gaq = _gaq || [];"
        puts "    _gaq.push(['_setAccount', 'UA-31090418-4']);"
        puts "    _gaq.push(['_trackPageview']);"
        puts "    (function() {"
        puts "      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;"
        puts "      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';"
        puts "      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);"
        puts "    })();"
        puts "    </script>"
      end
    %meta{:content => "1964js - N64 emulator in JavaScript", :property => "og:title"}/
    %meta{:content => "game", :property => "og:type"}/
    %meta{:content => "http://www.1964js.com", :property => "og:url"}/
    %meta{:content => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/373029_274941852620356_1206208449_n.jpg", :property => "og:image"}/
    %meta{:content => "1964js", :property => "og:site_name"}/
    %meta{:content => "1397141558", :property => "fb:admins"}/
  %body{:alink => "#ff0000", :bgcolor => "#000000", :link => "#ffa953", :onload => "start1964({wireframe:false})", :text => "#ffffff", :vlink => "#ffa953"}
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '518018268224773', // App ID
      channelUrl : '//www.1964js.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
      });
      
      // Additional initialization code here
      };
      
      // Load the SDK Asynchronously
      (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
      }(document));
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=518018268224773";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %p
    / shader for wireframe triangles
    %script#color-framebuffer-fragment-shader{:type => "x-shader/x-fragment"}
      precision mediump float;
      varying float v_Dot;
      vec4 color = vec4(0.0, 1.0, 1.0, 1.0);
      
      void main(void) {
      //color += vec4(0.1, 0.1, 0.1, 1.0);
      gl_FragColor = vec4(color.xyz, color.a);
      }
    %script#triangle-fragment-shader{:type => "x-shader/x-fragment"}
      precision mediump float;
      varying vec2 vTextureCoord;
      uniform sampler2D uSampler;
      
      void main(void) {
      gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
      }
    %script#triangle-vertex-shader{:type => "x-shader/x-vertex"}
      attribute vec3 aVertexPosition;
      attribute vec2 aTextureCoord;
      uniform mat4 uMVMatrix;
      uniform mat4 uPMatrix;
      varying vec2 vTextureCoord;
      
      void main(void) {
      gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
      vTextureCoord = aTextureCoord;
      }
    / shaders for tiles
    %script#tile-fragment-shader{:type => "x-shader/x-fragment"}
      precision mediump float;
      varying vec2 vTextureCoord;
      uniform sampler2D uSampler;
      
      void main(void) {
      gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
      }
    %script#tile-vertex-shader{:type => "x-shader/x-vertex"}
      attribute vec3 aVertexPosition;
      attribute vec2 aTextureCoord;
      uniform mat4 uMVMatrix;
      uniform mat4 uPMatrix;
      varying vec2 vTextureCoord;
      
      void main(void) {
      gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
      vTextureCoord = aTextureCoord;
      }
    %div{:style => "position: absolute; left: -600 px; top: -600 px"}
      %canvas#pow2Texture0{:height => "256", :width => "256"}
      %canvas#pow2Texture1{:height => "256", :width => "256"}
      %canvas#pow2Texture2{:height => "256", :width => "256"}
      %canvas#pow2Texture3{:height => "256", :width => "256"}
      %canvas#pow2Texture4{:height => "256", :width => "256"}
      %canvas#pow2Texture5{:height => "256", :width => "256"}
      %canvas#pow2Texture6{:height => "256", :width => "256"}
      %canvas#pow2Texture7{:height => "256", :width => "256"}
    %canvas#Canvas{:height => "240", :width => "320"} Sorry.. your browser does not support the HTML5 canvas element.
    %canvas#Canvas3D{:height => "1024", :width => "1024"}
    #user_panel
      .header
        %a{:href => "blog"} [Blog]
        %a{:href => "http://code.google.com/p/1964js"} [Code]
        %a{:href => "http://hulkholden.github.com/n64js/"} [Try n64js too!]
        %h1
          1964js
          %div{:style => "font-size: 10px;"} v0.0.14
          %select{:onchange => "if (this.value !== 'Demos') window.open(this.value, '_self');", :style => "vertical-align: middle;"}
            %option{:value => "Demos"} Demos
            %option{:value => "?rom=unofficial_roms/rotate.zip"} Rotate
            %option{:value => "?rom=unofficial_roms/chrome.zip"} Chrome
            %option{:value => "?rom=unofficial_roms/dextrose.zip"} Dextrose
            %option{:value => "?rom=unofficial_roms/n64stars.zip"} N64 Stars
            %option{:value => "?rom=unofficial_roms/liner.zip"} Liner (0 to start)
            %option{:value => "?rom=unofficial_roms/hardcode.zip"} Hard Coded
            %option{:value => "?rom=unofficial_roms/sp_crap.zip"} Absolute Crap
            %option{:value => "?rom=unofficial_roms/DynamixReadme.zip"} Dynamix
      .dropShadow
        .story
          /
            <div id="progress_bar">
            <div class="percent">0%</div>
            </div>
          %br/
          = succeed "*.v64;" do
            %input#files{:name => "file", :type => "file"}/
          *.n64; *.z64
          / <button onclick="abortRead();">Cancel read</button>
          %br/
          %br/
      .footer
        .fb-like{"data-colorscheme" => "dark", "data-send" => "false", "data-show-faces" => "false", "data-width" => "300"}
    :ruby
      outputMode = "release"
      ARGV.each do|a|
        if a == "develop"
          outputMode = "develop"
        end
      end
      if outputMode != "develop"
        puts "    <script src = 'lib/1964js-0.0.14.min.js'></script>"
      else
        puts "<script src = 'obj/constants.js'></script>"
        puts "<script src = 'lib/bitjs/io.js'></script>"
        puts "<script src = 'lib/bitjs/archive.js'></script>"
        puts "<script src = 'lib/BigInt.js'></script>"
        puts "<script src = 'lib/closure/goog/base.js'></script>"
        puts "<script src = 'obj/1964.js'></script>"
        puts "<script src = 'obj/helpers.js'></script>"
        puts "<script src = 'obj/opcodeMap.js'></script>"
        puts "<script src = 'obj/boot.js'></script>"
        puts "<script src = 'lib/closure/goog/math/long.js'></script>"
        puts "<script src = 'obj/pif.js'></script>"
        puts "<script src = 'obj/memory.js'></script>"
        puts "<script src = 'obj/dma.js'></script>"
        puts "<script src = 'obj/interrupts.js'></script>"
        puts "<script src = 'lib/glMatrix-0.9.5.min.js'></script>"
        puts "<script src = 'lib/webgl-utils.js'></script>"
        puts "<script src = 'obj/renderer.js'></script>"
        puts "<script src = 'obj/videoHLE.js'></script>"
        puts "<script src = 'obj/gfxHelpers.js'></script>"
        puts "<script src = 'obj/ui.js'></script>"
        puts "<script src = 'obj/webGL.js'></script>"
      end
